@import 'base.css';

img,
svg {
  width: 100%;
  height: auto;
}

.content {
  max-width: 800px;
  margin: 0 auto;
}

.logos {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10vh;

  & .logo,
  & f {
    display: flex;
    align-items: center;
    flex: 0 1 40%;
  }

  & .heart {
    flex: 0 1 10%;
    color: #f50000;
  }
}
